body{
    font-family: 'Times New Roman', Times, serif;
}

.navbar ul{
    width: 99%;
    background-color: blue;
    overflow: hidden;
    padding: 10px;
    margin:20px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: lightblue;
}


.Pic1{
    width:100%;
    height: 300px;
    display: block;
}

.multi-column{
    columns: 4;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    background-color: blue;
    float: left;
    text-align: center;
}

.Pic2{
    height: 200px;
}

.writing{
    text-align: center;
}

  
h2{
    gap: 5px;
}
  .row {
    margin-left:-5px;
    margin-right:-5px;
    display: flex;
  }
    
  .column {
    float: left;
    width: 60%;
    padding: 8px;
    columns: 2;
    display: flex;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    
    display: table;
  }
  
  table {
    display: flex;
    justify-content: space-between;
    border-spacing: 0;
    width: 60%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
  }